@(loginForm: Form[(String,String)], errorMsg: Option[String] = None)(implicit request: RequestHeader)

@import securesocial.core.IdentityProvider





<!--<link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>-->
<link href="/assets/css/reset.css" rel="stylesheet"/>
<link href="/assets/css/login.css" rel="stylesheet"/>

<script type="text/javascript">
$(document).ready(function() {
    $('#fade')
        .css({"opacity":0})   // Set to 0 as soon as possible – may result in flicker, but it's not hidden for users with no JS (Googlebot for instance!)
        .delay(10000)           // Wait for a bit so the user notices it fade in
        .css({"opacity":1});  // Fade it back in. Swap css for animate in legacy browsers if required.
});

</script>


    @errorMsg.map { msg =>
        <div class="alert alert-error">
            @Messages(msg)
        </div>
    }

    @request.flash.get("success").map { msg =>
        <div class="alert alert-info">
            @msg
        </div>
    }

    @request.flash.get("error").map { msg =>
        <div class="alert alert-error">
            @msg
        </div>
    }





<div class="center">
    <div class="page-header">
    <img src="/assets/img/logo.png" class="logo">
    </div>
    
    <form action = "@securesocial.core.providers.utils.RoutesHelper.authenticateByPost("userpass").absoluteURL(IdentityProvider.sslEnabled)"
           class = "form-horizontal" autocomplete="off" method="POST" id="fade">
        <div class="control-group s_field" id="username_field">
            <!--<label class="control-label" for="username">Email</label>-->
            <div class="controls">
                <input type="text" id="username" name="username" value="" placeholder="Email" class="input-xlarge"  autocomplete="off">
                <!--<span class="help-block">Required</span>-->
            </div>
        </div>

        <div class="control-group s_field" id="password_field">
            <!--<label class="control-label" for="password">Password</label>-->
            <div class="controls">
                <input type="password" id="password" name="password" placeholder="Password" class="input-xlarge"  autocomplete="off">
                <!--<span class="help-block">Required</span>-->
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary special_b">SIGN IN</button>
        
	        <a href="/reset" class="btn2 username">username?</a>
        </div>
        

        <div class="sign_up">
			<a href="/signup">Sign Up</a>
        </div>
    </form>
</div>


  
  

<div class="b_foot"></div>